:root {
  --cor-1: rgb(158, 235, 16);
  /* --cor-2: rgb(221, 219, 208); */
  --cor-2: rgb(238, 237, 230);
  --cor-3: rgb(5, 136, 0);
  --cor-4: rgb(123, 126, 95);
  --cor-5: rgb(182, 200, 171);
  --cor-6: rgb(15, 51, 13);
  --cor-7: rgb(88, 144, 85);
  /* --cor-8: rgb(46, 182, 39); */
  --cor-8: rgb(174, 214, 171);
}
